<ion-view>

  <ion-nav-title>Timetracker - Login</ion-nav-title>

  <ion-content>

    <div class="row">
      <div class="card col col-80 col-offset-10 alert-text" ng-style="{'visibility': vm.loginError?'visible':'hidden'}" >
        <div class="item item-text-wrap alert-text">
          Codice Errato
        </div>
      </div>
    </div>


    <div class="row">
      <div class="list list-inset col col-80 col-offset-10">
        <label class="item item-input">
          <input type="number" placeholder="Codice PIN" ng-model="vm.pincode" ng-change="vm.loginError=false">
        </label>
        <a class="button button-block button-positive" ng-click="vm.pinLogin()">
          LOGIN
        </a>
        <a class="button button-block button-dark" href="#/login">
          INDIETRO
        </a>
      </div>
    </div>

  </ion-content>

</ion-view>
