<ion-view>

  <ion-nav-title>Timetracker - Logout</ion-nav-title>

  <ion-content>

    <div class="row ">
      <div class="col col-80 col-offset-10 card">
        Continuando avrai bisogno di un codice QR oppure un PIN per rientrare, sei sicuro di continuare?
      </div>
      <div class="col col-10">
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col col-50 col-offset-25">

        <a class="button button-block button-positive" href="#/">
          NO
        </a>
        <button class="button button-block button-assertive" ng-click="vm.logout()">
          SI, Logout
        </button>
      </div>
    </div>

  </ion-content>

</ion-view>
