<ion-view ng-init="vm.getOpenTimesheet()">

  <ion-nav-title>Timetracker - Nuova Attivit&agrave;</ion-nav-title>

  <ion-content  ng-cloak>

    <div class="list card">

      <div class="item item-text-wrap">
<h3>DEPRECATED</h3>
      </div>

      <!-- <div class="item" ng-hide="vm.openTimeSheetFound">
        <button class="button button-full button-energized" ng-click="vm.start()" >
          INIZIA ATTIVIT&Agrave;
        </button>
      </div>

      <div class="item  item-text-wrap" ng-show="vm.openTimeSheetFound">
        Hai una attivit&agrave; ancora aperta, prima di inziarne una nuova dovresti chiuderla.
      </div>
      <div class="item" ng-show="vm.openTimeSheetFound">
        <a class="button button-full button-balanced" href="{{vm.openTimeSheetLink}}" >
          VISUALIZZA ATTIVIT&Agrave;
        </a>
      </div>
-->
      <div class="item">
        <a class="button button-full button-dark" href="#/">
          INDIETRO
        </a>
      </div>

    </div>

  </ion-content>

</ion-view>
